.DS_Store
.vscode/
XCode/TrackPad/TrackPadTouchOSX.xcodeproj/xcshareddata/

Temp/
Library/
Obj/
Builds/
 
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.DS_store

*.apk
*.xcuserdatad/
XCode/TrackPad/build/
